html{
    font-family: 'Outfit', sans-serif;
    font-size: 2.05vh
}
html *{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    height: 90vh;
    max-width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em;
}

img{
    width: 90%;
    height: 50%;
    margin-top: 1.25em;
    border-radius: 1.5em;
}

h1, p {
    width: 87%;
}

h1{
    font-size: 1.85rem;
    color: hsl(218, 44%, 22%);
}

.description{
    font-size: 1.35rem;
    color: hsl(220, 15%, 55%)
}

.footer {
    padding-bottom: 1em;
    font-size: 0.75rem;
    color: hsl(220, 15%, 55%)
}

.footer a{
    color: hsl(218, 44%, 22%);  
}
.footer a:hover{
    font-size: 0.7rem;
    font-weight: bold;
}

@media (min-width: 750px){
    .container{
        height: 64vh;
        max-width: 37vh;
    }
    html{
        font-size: 1.5vh;
    }
}
