html{
    font-family: 'Outfit', sans-serif;
    font-size: 2.05vh
}
html *{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    height: 90vh;
    max-width: 50vh;
    max-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em;
}

.image{
    width: 90%;
    height: 50%;
    padding-top: 1em;
    border-radius: 1.5em;
}
img{
    width: 100%;
    border-radius: 1em;
}

.text{
    width: 87%;
}
.text h2{
    font-size: 1.7rem;
    margin-bottom: 1.5em;
    color: hsl(218, 44%, 22%);
}
.text p {
    font-size: 1.1rem;
    color: hsl(220, 15%, 55%)
}

footer {
    width: 87%;
    padding-bottom: 1em;

}
footer p{
    font-size: 0.75rem;
    color: hsl(220, 15%, 55%)
}
footer a{
    color: hsl(218, 44%, 22%);  
}
footer a:hover{
    font-weight: bold;
}

@media (min-width: 750px){
    .container{
        height: 65vh;
        max-width: 40vh;
    }
    html{
        font-size: 1.5vh;
    }
}